{% extends 'base.html' %}
{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='echarts.min.js') }}"></script>
    {% for key, value in data.items() %}
<div id="container{{ key }}" style="height: 400px"></div>
    <script type="text/javascript">
        var dom = document.getElementById("container{{ key }}");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            title: {
                text: '{{ key }}'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: {{ value['x']|safe}}
            },
            yAxis: {
                type: 'value',
                interval: 0.1,
                min: function (value) {
                    return value.min - 0.1
                }
            },
            series: [
                {
                    {#name:'所有扣费',#}
                    type:'line',
                    stack: 'one',
                    data:{{ value['y']|safe }}
                },
            ]
        };
        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
       </script>
    {% endfor %}
{% endblock %}
